body {
    padding-top: 70px; 
    background-color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}

body{
    background-color: antiquewhite;
}
.logodesserts{
    text-align: center;
    background-color: rgb(244, 202, 169);
    color: rgb(219, 93, 3);
    font-weight: bold;
    font-size: 35px;
    transition: 0.5s;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 1px 4px 10px 3px rgb(231, 124, 124) ;
    margin: 20px 320px 25px 320px;
   }
   .logodesserts:hover{
    letter-spacing: 1px;
    color: rgb(171, 15, 15);
  
   }
   div{
    margin: 30px 35px 30px 40px;
    background-color: white;
    box-shadow: 1px 2px 30px 5px orange ;
    border-radius: 30px 90px 30px 90px;
    overflow: hidden;
    padding: 8px;
    text-align: center;
    transition: 1s;
    font-family: cursive;
    font-style: italic;
    display: inline-block;
    
}
div button{
    cursor: pointer;
}
img{
    width: 220px;
    height: 192px;
    border-radius: 50%;
    transition: 0.8s;
    
}
.item:hover{ 
   scale:1.05;
}
#invoice{
    border-radius: 30px;
    display: inline-block;
    position: fixed;
    top: 250px;
    right: 0;
}
.buy{
    text-decoration-line: none;
    color: rgb(246, 246, 248);
    transition: 0.3s;
    font-size: 19px;
    padding: 2px;
    box-shadow: 0 0 5px 0.5px rgb(29, 18, 247) ;
    background-color: rgb(15, 15, 251);
    margin: 5px;
}
.buy:hover{
    letter-spacing: 1px;
  }
